{% load static %}
<style>
    @media only screen and (max-width: 1000px){
          a i:hover{
            transform: scale(1.2);
          }

          #base-navbar{
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            padding: 5px 0px 10px;
            background-color: #d6d5d3;
            width: 100%;
            margin-bottom: 0px;
            margin-right: 0px;
        }
}

@media only screen and (min-width: 1000px){
    #base-navbar{
        display: none;
    }
}

    
</style>
<!-- ========================= FOOTER ========================= -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="{% url 'aboutus' %}">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--
-->
<div class="mx-0" id="base-navbar" style="margin-bottom: 0px;border-radius: 20px 20px 0px 0px;">
    <div class="row text-center">
        <div class="col-3">
            <a href="{% url 'home' %}" class="no-href-style">
            <i class="fa fa-home" style="font-size:20px;padding-bottom:0px;color: #d9534f;"></i>
            <div class="home-text" style="font-size:12px;color: #d9534f;">Home</div>
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'store' %}" class="no-href-style">
            <i class="fa fa-shopping-bag" style="font-size:20px;padding-bottom:0px;color: #d9534f;"></i>
            <div class="store-text" style="font-size:12px;color: #d9534f;">Store</div>
        </a>
        </div>
        <div class="col-3">
            <a href="{% url 'cart' %}" class="no-href-style">
            <i class="fa fa-shopping-cart" style="font-size:20px;padding-bottom:0px;color: #d9534f;"></i>
            <div class="cart-text" style="font-size:12px;color: #d9534f;">Cart</div>
        </a>
        </div>
        <div class="col-3">
            {% if user.id is not None %}
            <a href="{% url 'dashboard' %}" class="no-href-style">
            <i class="fa fa-user" style="font-size:20px;padding-bottom:0px;color: #d9534f;"></i>
            <div style="font-size:12px;color: #d9534f;">Profile </div>
            </a>
            {% else %}
            <a href="{% url 'login' %}" class="no-href-style">
                <i class="fas fa-sign-in-alt" style="font-size:20px;padding-bottom:0px;color: #d9534f;"></i>
                <div style="font-size:12px;color: #d9534f;">Sign in</div>
            </a>
            {% endif %}
        </div>
    </div>
</div>

<!-- ========================= FOOTER END // ========================= -->