{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
	.fa-home{
		transform: scale(1.2);
		color: #f2163b;
	}
	.home-text{
		transform: scale(1.2);
		color: #f2163b;
	}
</style>
<section class="section-intro">
	<!-- ============================ COMPONENT BANNER Desktop================================= -->
	<div class="desktop-banner container" style="min-height:500px;border-radius: 0px;margin-top: 20px;">
		<a href="{% url 'store' %}">
		<img src="{%static 'images/banners/slide4.jpg' %}" style="width:100%;height: 500px;" class="mySlides">
		<img src="{%static 'images/banners/slide1.jpg' %}" style="width:100%;height: 500px;" class="mySlides">
		<img src="{%static 'images/banners/slide2.jpg' %}" style="width:100%;height: 500px;" class="mySlides">
		<img src="{%static 'images/banners/slide3.jpg' %}" style="width:100%;height: 500px;" class="mySlides">
		</a>
	</div>
	<!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
	  <script>
			  var slideIndex = 0;
			showSlides();
	
			function showSlides() {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			slideIndex++;
			if (slideIndex > slides.length) {slideIndex = 1}
			slides[slideIndex-1].style.display = "block";
			setTimeout(showSlides, 2000); // Change image every 2 seconds
			}
	  </script>
</section><!--Destop Section main end-->



<!-- ========================= SECTION MAIN Mobile// ========================= -->
<section class="mb-2 scroll-horizontal mobile-banner" style="margin-top: 0px;padding-top: 0px;">

	<!-- ============================ COMPONENT BOOTSTRAP CARD WITH  IMG ================================= -->
	<div class="row">
		<div class="col-md-4">
			<div class="card" id="mobimg">
			  <img src="{%static 'images/banners/slide4.jpg' %}" class="card-img">
			</div>
		</div> <!-- col.// -->
	</div>
	<script>
		var images2 = ["{%static 'images/banners/slide1.jpg' %}", "{%static 'images/banners/slide2.jpg' %}", "{%static 'images/banners/slide3.jpg' %}", "{%static 'images/banners/slide4.jpg' %}"];
		var x2 = 0;
		var imgs2 = document.getElementById('mobimg');
		setInterval(slider, 2000);
		function slider() {
		  if (x2 < images2.length) {
			x2 = x2 + 1;
		  } else {
			x2 = 1;
		  }
		  imgs2.innerHTML = "<img src=\"" + images2[x2 - 1] +"\""+ "class='card-img'>";
	
		}
	  </script>
</section><!--Mobole Section Main end-->


<!--Rounder category list for mobile view-->
<!-- ========================= SECTION  1========================= -->
	<div class="container round-category">
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-danger float-right">See all</a>
			<h4 class="section-title"><strong>Categories</strong></h4>
		</header><!-- sect-heading -->

		<div class="row">
			{% for category in categories %}
			  <div class="col-4 col-md-3">
				<a href="{{category.get_url}}" class="img-wrap"> <img src="{{ category.cat_image.url }}" style="height: 5rem; width: 5rem; border-radius: 100%; border: 0.3rem solid #dc3545;"> </a>
				<div class="wrap-text">
					<p style="text-align: center;margin-bottom: 1rem;">{{category.category_name}}</p>
				</div>
			  </div>
			{% endfor %}
		</div><!--Row end-->
	</div>
<!--Round category ends-->

<!--Latest products-->
<div class="mobile-appear">
	<h4 class="title-section"><strong>New arrival</strong></h4>
	<section class="scroll-horizontal  padding-x">
		{% for product in new_arrivals %}
		<div class="item">
			<a href="{{product.get_url}}" class="product-sm">
				<div class="img-wrap"> <img src="{{ product.images.url }}"> </div>
				<div class="text-wrap">
					<p class="title text-truncate">{{product.product_name}}</p>
					<div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
				</div>
			</a>
		</div>
		{% endfor %}
	</section>
</div>
<br>
<!--Recomended-->
<div class="mobile-appear">
	<h4 class="title-section"><strong>Recommended</strong></h4>
	<section class="scroll-horizontal  padding-x">
		{% for product in recomended_products %}
		<div class="item">
			<a href="{{product.get_url}}" class="product-sm">
				<div class="img-wrap"> <img src="{{ product.images.url }}"> </div>
				<div class="text-wrap">
					<p class="title text-truncate">{{product.product_name}}</p>
					<div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
				</div>
			</a>
		</div>
		{% endfor %}
	</section>
</div>

<!--Div for Some layout Both mobile and desktop-->
<div class="container desktop-view">
<div class="row">
	<div class="col-md-4 col-12">	
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-primary">
							<i class="fa fa-money-bill-alt white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Reasonable prices</h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
		<div class="col-md-4">
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-danger">
							<i class="fa fa-comment-dots white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Customer support 24/7 </h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
		<div class="col-md-4">
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-success">
							<i class="fa fa-truck white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Quick delivery</h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
	</div>
</div>



<!-- ========================= SECTION  2========================= -->
<section class="section-name padding-y-sm desktop-view">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Recommended products</h3>
</header><!-- sect-heading -->

<div class="row">
	{% for product in recomended_products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">₹{{product.price}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= SECTION  3========================= -->
<section class="section-name padding-y-sm desktop-view">
	<div class="container">
	
	<header class="section-heading">
		<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
		<h3 class="section-title">New Arrivals</h3>
	</header><!-- sect-heading -->
	
	<div class="row">
		{% for product in new_arrivals %}
		<div class="col-md-3">
			<div class="card card-product-grid">
				<a href="{{product.get_url}}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
					<div class="price mt-1">₹{{product.price}}</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		{% endfor %}
	</div> <!-- row.// -->
	
	</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->
	<div>
		<br>
	</div>
	<h4 class="title-section mobile-appear"><strong>More Products</strong></h4>
	<section class="padding-x mobile-appear">
        <div class="row">
            {% for product in products %}
            <div class="col-6 col-sm-6 col-md-4">
                <a href="#" class="product-sm mb-3">
                    <div class="img-wrap"> <a href="{{product.get_url}}"><img src="{{ product.images.url }}" style="max-width: 100%;height:auto;"></a></div>
                    <div class="text-wrap">
                        <a href="{{product.get_url}}">{{product.product_name}}<p class="title text-truncate"></p></a>
                        <div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row end -->
        
    </section> <!-- section body .// -->

<div class="mobile-appear" style="padding: 0px;margin: 0px;">
		<div class="col-md-4" >	
				<article class="card card-body" style="align-items: center;">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-primary">
								<i class="fa fa-money-bill-alt white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h5 class="title"><strong>Reasonable prices</strong></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labor </p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</article> <!-- panel-lg.// -->
		</div><!-- col // -->
		<div class="col-md-4">
				<article class="card card-body" style="align-items: center;">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-secondary">
								<i class="fa fa-comment-dots white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h5 class="title"><strong>Customer support 24/7</strong> </h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labor </p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</article> <!-- panel-lg.// -->
		</div><!-- col // -->
		<div class="col-md-4">
				<article class="card card-body" style="align-items: center;">
					<figure class="itemside">
						<div class="aside">
							<span class="icon-sm rounded-circle bg-success">
								<i class="fa fa-truck white"></i>
							</span>
						</div>
						<figcaption class="info">
							<h5 class="title"><strong>Quick delivery</strong></h5>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labor </p>
						</figcaption>
					</figure> <!-- iconbox // -->
				</article> <!-- panel-lg.// -->
		</div><!-- col // -->
	<br>
	<br>
</div>
</body>
</html>

{% endblock %}