{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
	.fa-home{
		transform: scale(1.2);
		color: #f2163b;
	}
	.home-text{
		transform: scale(1.2);
		color: #f2163b;
	}
</style>
<!-- ========================= SECTION MAIN Desktop========================= -->
<section class="section-intro">
<!-- ============================ COMPONENT BANNER Desktop================================= -->
<div class="desktop-banner container" style="min-height:500px;border-radius: 0px;margin-top: 20px;">
	<a href="{% url 'store' %}">
	<img class="mySlides" src="{%static 'images/banners/slide4.jpg' %}" style="width:100%;height: 500px;">
	<img class="mySlides" src="{%static 'images/banners/slide1.jpg' %}" style="width:100%;height: 500px;">
	<img class="mySlides" src="{%static 'images/banners/slide2.jpg' %}" style="width:100%;height: 500px;">
	<img class="mySlides" src="{%static 'images/banners/slide3.jpg' %}" style="width:100%;height: 500px;">
	</a>
	<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)" style="margin-left: 180px;">&#10094;</button>
  	<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)"style="margin-right: 180px;">&#10095;</button>
  </div>
  <!-- ============================ COMPONENT BANNER 7  END .// =========================== -->
  <script>
	  	var slideIndex = 1;
		showDivs(slideIndex);

		function plusDivs(n) {
		showDivs(slideIndex += n);
		}

		function showDivs(n) {
		var i;
		var x = document.getElementsByClassName("mySlides");
		if (n > x.length) {slideIndex = 1}
		if (n < 1) {slideIndex = x.length} ;
		for (i = 0; i < x.length; i++) {
			x[i].style.display = "none";
		}
		x[slideIndex-1].style.display = "block";
		}

  </script>
</section><!--Destop Section main end-->



<!-- ========================= SECTION MAIN Mobile// ========================= -->
<section class="mb-2 scroll-horizontal mobile-banner" style="margin-top: 0px;padding-top: 0px;">
	<a href="{% url 'store' %}" class="item-slider card-banner">
        <div class="card-body bg-warning" style="width:100%;height:160px; background-image: url('{%static 'images/banners/slide4.jpg' %}');"> </div>
    </a>
    <a href="{% url 'store' %}" class="item-slider card-banner">
        <div class="card-body bg-warning" style="width:100%;height:160px; background-image: url('{%static 'images/banners/slide1.jpg' %}');"> </div>
    </a>
    <a href="{% url 'store' %}" class="item-slider card-banner">
        <div class="card-body bg-warning" style="width:100%;height:160px; background-image: url('{%static 'images/banners/slide2.jpg' %}');"> </div>
    </a>
    <a href="{% url 'store' %}" class="item-slider card-banner">
        <div class="card-body bg-warning" style="width:100%;height:160px; background-image: url('{%static 'images/banners/slide3.jpg' %}');"> </div>
    </a>
</section><!--Mobole Section Main end-->


<!--Rounder category list for mobile view-->
<!-- ========================= SECTION  1========================= -->
	<div class="container round-category">
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-danger float-right">See all</a>
			<h4 class="section-title">Categories</h4>
		</header><!-- sect-heading -->

		<div class="row">
			{% for category in categories %}
			  <div class="col-4 col-md-3">
				<a href="{{category.get_url}}" class="img-wrap"> <img src="{{ category.cat_image.url }}" style="height: 5rem; width: 5rem; border-radius: 100%; border: 0.3rem solid #dc3545;"> </a>
				<div class="wrap-text">
					<p style="text-align: center;margin-bottom: 1rem;">{{category.category_name}}</p>
				</div>
			  </div>
			{% endfor %}
		</div><!--Row end-->
	</div>
<!--Round category ends-->

<!--Latest products-->
<div class="mobile-appear">
	<h4 class="title-section"><strong>New arrival</strong></h4>
	<section class="scroll-horizontal  padding-x">
		{% for product in new_arrivals %}
		<div class="item">
			<a href="{{product.get_url}}" class="product-sm">
				<div class="img-wrap"> <img src="{{ product.images.url }}"> </div>
				<div class="text-wrap">
					<p class="title text-truncate">{{product.product_name}}</p>
					<div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
				</div>
			</a>
		</div>
		{% endfor %}
	</section>
</div>
<br>
<!--Recomended-->
<div class="mobile-appear">
	<h4 class="title-section"><strong>Recommended</strong></h4>
	<section class="scroll-horizontal  padding-x">
		{% for product in recomended_products %}
		<div class="item">
			<a href="{{product.get_url}}" class="product-sm">
				<div class="img-wrap"> <img src="{{ product.images.url }}"> </div>
				<div class="text-wrap">
					<p class="title text-truncate">{{product.product_name}}</p>
					<div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
				</div>
			</a>
		</div>
		{% endfor %}
	</section>
</div>

<!--Div for Some layout Both mobile and desktop-->
<div class="container desktop-view">
<div class="row">
	<div class="col-md-4 col-12">	
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-primary">
							<i class="fa fa-money-bill-alt white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Reasonable prices</h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
		<div class="col-md-4">
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-danger">
							<i class="fa fa-comment-dots white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Customer support 24/7 </h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
		<div class="col-md-4">
				<figure class="itemside">
					<div class="aside">
						<span class="icon-sm rounded-circle bg-success">
							<i class="fa fa-truck white"></i>
						</span>
					</div>
					<figcaption class="info">
						<h6 class="title">Quick delivery</h6>
						<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labor </p>
					</figcaption>
				</figure> <!-- iconbox // -->
		</div><!-- col // -->
	</div>
</div>



<!-- ========================= SECTION  2========================= -->
<section class="section-name padding-y-sm desktop-view">
<div class="container">

<header class="section-heading">
	<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Recommended products</h3>
</header><!-- sect-heading -->

<div class="row">
	{% for product in recomended_products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			<a href="{{product.get_url}}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
			<figcaption class="info-wrap">
				<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
				<div class="price mt-1">₹{{product.price}}</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= SECTION  3========================= -->
<section class="section-name padding-y-sm desktop-view">
	<div class="container">
	
	<header class="section-heading">
		<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
		<h3 class="section-title">New Arrivals</h3>
	</header><!-- sect-heading -->
	
	<div class="row">
		{% for product in new_arrivals %}
		<div class="col-md-3">
			<div class="card card-product-grid">
				<a href="{{product.get_url}}" class="img-wrap"> <img src="{{ product.images.url }}"> </a>
				<figcaption class="info-wrap">
					<a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
					<div class="price mt-1">₹{{product.price}}</div> <!-- price-wrap.// -->
				</figcaption>
			</div>
		</div> <!-- col.// -->
		{% endfor %}
	</div> <!-- row.// -->
	
	</div><!-- container // -->
	</section>
	<!-- ========================= SECTION  END// ========================= -->

</body>
</html>

{% endblock %}