{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    footer{
        display: none;
    }
    .fa-shopping-bag{
		transform: scale(1.2);
		color: #f2163b;
	}
	.store-text{
		transform: scale(1.2);
		color: #f2163b;
	}
</style>
<div class="desktop-view">
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        {% if 'search' in request.path %}
		    <h2 class="title-page">Search Result</h2>
	    {% else %}
		    <h2 class="title-page">Our Store</h2>
	    {% endif %}
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            
    <div class="card">
        <article class="filter-group">
            <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                    <i class="icon-control fa fa-chevron-down"></i>
                    <h6 class="title">Categories</h6>
                </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
                <div class="card-body">
                    
                    <ul class="list-menu">
                    <li><a href="{% url 'store' %}">All Products</a></li>
                    {% for category in links %}
                    <li><a href="{{category.get_url}}">{{category.category_name}}</a></li>
                    {% endfor %}
                    </ul>
    
                </div> <!-- card-body.// -->
            </div>
        </article> <!-- filter-group  .// -->
        
    </div> <!-- card.// -->
    
        </aside> <!-- col.// -->
        <main class="col-md-9">
    
    <header class="border-bottom mb-4 pb-3">
            <div class="form-inline">
                <span class="mr-md-auto"><b>{{product_count}}</b> Items found </span>
                
            </div>
    </header><!-- sect-heading -->
    
    <div class="row">
        {% if products %}
            {% for product in products %}
            <div class="col-md-4">
                <figure class="card card-product-grid">
                    <div class="img-wrap"> 
                        <a href="{{product.get_url}}">
                        <img src="{{ product.images.url }}">
                        </a>
                        
                    </div> <!-- img-wrap.// -->
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                            <div class="price-wrap mt-2">
                                <span class="price">₹{{product.price}}</span>
                            </div> <!-- price-wrap.// -->
                        </div>
                        {% if product.stock <= 0 %}
                        <h5 style="color: red;">Out of Stock</h5>
                        {% else %}
                        <a href="{% url 'add_cart' product.id%}" class="btn btn-block btn-primary">Add to cart </a>
                        {% endif %}	
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
            {% endfor %}
        {% else %}
        <div>
            <h2>No Results found! Try again</h2>
        </div>
        {% endif %}
    </div> <!-- row end.// -->
    
    {% if products.has_other_pages %}
        <nav class="mt-4" aria-label="Page navigation sample">
        <ul class="pagination">
            {% if products.has_previous %}
	            <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
			{% else %}
			    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
			{% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
	            <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
			{% else %}
			    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
			{% endif %}
        </ul>
        </nav>
    {% endif %}
        </main> <!-- col.// -->
    
    </div>
    
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
</div>

<!--Mobile Appear-->
<div class="mobile-appear" style="margin-top: 60px;">
    <div class="screen-wrap">
        
        
        <main class="app-content">
        {% if products %}
            {% if 'search' in request.path %}
            <div style="margin-top:-50px;">
                <h5 class="title-page" style="margin-left: 0.8rem;">Search Results</h5>
            </div>
            {% else %}
            <form action="" class="padding-around" style="padding-top: 0px;margin-top: -40px;">
                <div class="row">
                    <div class="col-6">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border:1px solid rgb(0, 0, 0);">
                          Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="border:thck ;">
                            <ul class="dropdown-item"><a href="{% url 'store' %}">All Items</a></ul>
                            {% for category in links %}
                            <ul class="dropdown-item"><a href="{{category.get_url}}">{{category.category_name}}</a></ul>
                            {% endfor %}
                        </div>
                      </div><!--Col 6-->
                    </div>
                    <div class="col-6">
                        <select class="custom-select form-control">
                            <option>Price cheap</option>
                            <option>Price high</option>
                            <option>Oldest</option>
                        </select>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->
            </form>
            {% endif %}
	    {% else %}
        <div>
            <h5 style="margin-left: 0.8rem;">No Products Found!</h5>
        </div>
	    {% endif %}
        <section class="padding-x">
        <div class="row">
            {% for product in products %}
            <div class="col-6 col-sm-6 col-md-4">
                <a href="#" class="product-sm mb-3">
                    <div class="img-wrap"> <a href="{{product.get_url}}"><img src="{{ product.images.url }}" style="max-width: 100%;height:auto;"></a></div>
                    <div class="text-wrap">
                        <a href="{{product.get_url}}">{{product.product_name}}<p class="title text-truncate"></p></a>
                        <div class="price">₹{{product.price}}</div> <!-- price-wrap.// -->
                    </div>
                </a>
            </div> <!-- col.// -->
            {% endfor %}
        </div> <!-- row end -->
        
        </section> <!-- section body .// -->

        {% if products.has_other_pages %}
        <div class="card" style="align-items: center;">
            <div class="mt-4" aria-label="Page navigation sample" style="margin-bottom: 30px;position: relative;">
                <ul class="pagination">
                    {% if products.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    {% endif %}
        
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <li class="page-item" style="overflow-y:scroll;"><a class="page-link" href="#">{{i}}</a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                        {% endif %}
                    {% endfor %}
        
                    {% if products.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        {% endif %}
        
        </main>
        </div>
</div>
{% endblock %}